@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --ModerateBlue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --LightGrayishBlue: hsl(239, 57%, 85%);
  --PaleRed: hsl(357, 100%, 86%);

  --Dark_blue: hsl(212, 24%, 26%);
  --Grayish_Blue: hsl(211, 10%, 45%);
  --Light_gray: hsl(223, 19%, 93%);
  --Very_light_gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  font-size: 16px;
}

body {
  background-color: var(--Very_light_gray);
  min-width: 375px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Grayish_Blue);
  justify-content: center;
  padding-top: 60px;
}

.containerSend {
  max-width: 732px;
  width: 100%;
}
/* .secttion{
    display: flex;
    border: solid;
} */
.feedback-card {
  max-width: 732px;
  width: 100%;
  /* height: 165px; */
  background-color: var(--White);
  margin: 10px 0;
  padding: 25px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.feedback-score label {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 40px;
  overflow: hidden;
  border-radius: 8px;
}

.feedback-score input {
  background-color: var(--Very_light_gray);
  color: var(--ModerateBlue);
  font-weight: 500;
  height: 100px;
  width: 35px;
  text-align: center;
  border: none;
  cursor: default;
}

.feedback-score label button {
  font-weight: 500;
  font-size: 20px;
  color: var(--ModerateBlue);

  position: absolute;
  border: none;
  background-color: transparent;
  margin: 8px 0;
  cursor: pointer;
}
.feedback-score label button:nth-child(1) {
  bottom: 0;
}

button:active {
  transform: translateY(1px);
}

.feedback-content {
  width: 100%;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.info-details {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.info-details img {
  width: 32px;
}

.info-details span {
  font-weight: 500;
  color: var(--Dark_blue);
}

.info-details p {
  font-size: 14px;
}

.feedback-description {
  line-height: 1.5rem;
  margin-right: 40px;
}

.reply-section {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.reply-btn,
.edit,
.delete {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  color: var(--ModerateBlue);

  &:hover {
    cursor: pointer;
    color: var(--LightGrayishBlue);
    transition: all 0.3s;
  }
}

/* - Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700 */

.reply-feedback {
  margin-top: 10px;
  height: 150px;
}

.replay-info {
  align-items: self-start;
}

.info-response {
  border: solid 1px var(--ModerateBlue);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  overflow: hidden;

  p {
    color: var(--Dark_blue);
  }
}

.reply-response,
#btnSend {
  background-color: var(--ModerateBlue);
  color: var(--White);
  padding: 14px 23px;
  border-radius: 8px;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: var(--LightGrayishBlue);
    transition: all 0.3s;
  }
}

.section-replay {
  border-left: solid 1px var(--Light_gray);
  margin-left: 45px;
  padding-left: 45px;
  max-width: calc(732px - 44px);
  width: 100%;
  margin-bottom: 20px;
}

.reply-description {
  width: 100%;
}

.delete {
  color: var(--SoftRed) !important;
  margin-right: 10px;
  font-size: 16px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}

.edit {
  font-size: 16px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}

.update-btn {
  margin-left: auto;
  margin-right: 0;
  display: block;
  align-items: flex-end;
}

.update .info-response {
  padding: 10px 20px;
  min-height: 80px;
}

textarea {
  color: var(--Grayish_Blue);
}

.increase,
.decrease {
  color: var(--LightGrayishBlue) !important;
  &:hover {
    color: var(--ModerateBlue) !important;
  }
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  overflow-y: hidden;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}
.message-container{
  width: 350px;
  background-color: var(--Very_light_gray);
  color: var(--Grayish_Blue);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 4px 4px 2px #999;
}

.message-container h2{
  font-size: 22px;
  font-weight: 500;
  color: var(--Dark_blue);
}
.message-container p{
  line-height: 1.5;
  font-size: 17px;
}
.message-confirm{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px ;
}
.message-confirm button{
  border: none;
  background-color: transparent;
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--Very_light_gray);
   border-radius: 10px;
   box-shadow: 2px 2px 2px #555;
}

.message-confirm .message-cancel{
  background-color: var(--Grayish_Blue);
    &:hover{
    background-color: var(--Light_gray);
    color: var(--Grayish_Blue);
    transition: all .3s;
  }
  &:active{
    transform: translateY(3px);

  }
}
.message-confirm .message-delete{
  background-color: var(--SoftRed);
  &:hover{
    background-color: var(--PaleRed);
    transition: all .3s;
  }
  &:active{
    transform: translateY(3px);

  }
}
.feedback-description p > span{
  color: var(--ModerateBlue);
  font-weight: 500;
}
.calc__foot {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.calc__foot img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.calc__foot::selection{
background-color: transparent;
}

@media (max-width: 580px) {
  body {
    padding: 0;
  }
  .container {
    padding: 15px;
    padding-bottom: 0;
  }
  .feedback-card {
    max-width: 732px;
    width: 100%;
    /* height: 165px; */
    background-color: var(--White);
    margin: 10px 0;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    border-radius: 10px;
    position: relative;
  }
  .feedback-score {
    width: max-content;
  }
  .feedback-score label button:nth-child(1) {
    right: 10px;
  }
  .feedback-score label button:nth-child(3) {
    left: 10px;
  }

  .feedback-score label {
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100px;
    overflow: hidden;
    border-radius: 8px;
  }
  .feedback-score input {
    background-color: var(--Very_light_gray);
    color: var(--ModerateBlue);
    font-weight: 500;
    height: auto;
    width: 100%;
    text-align: center;
    border: none;
    cursor: default;
  }
  .feedback-description {
    margin: 0;
  }
  .info-details p {
    font-size: 16px;
  }

  .reply-btn,
  .edit,
  .delete {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: var(--ModerateBlue);
  }
  .reply-section {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    right: 30px;
  }

  .section-replay {
    margin-left: 0;
    padding-left: 15px;
  }
  .info-details {
    margin: 0;
  }
  .containerSend {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerSend > .user-main-card {
    width: 100%;

    padding: 0 15px;
  }

  .containerSend > .user-main-card > .reply-feedback {
    display: block;
    margin: 0;
    padding: 0;
    padding: 20px;
    min-height: 200px;
    margin-bottom: 50px;
  }
  .info-details.replay-info {
    position: absolute;
    left: 20px;
    width: 42px;
    bottom: 10px;
  }
  .reply-feedback :nth-child(3) {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .reply-feedback :nth-child(3) > button {
    padding: 0;
  }
  textarea#txtValueSend {
    height: 100px;
  }
  .reply-response,
  #btnSend {
    background-color: var(--ModerateBlue);
    color: var(--White);
    padding: 13px 30px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
  }
}
